---
import "../styles/global.css"
---

<html lang="es" dir="ltr">
	<head>
		<!-- Google Tag Manager -->
		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MMC3LGT7');</script>
		<!-- End Google Tag Manager -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=2">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=2">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=2">
		<link rel="manifest" href="/favicon/site.webmanifest?v=2">
		<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=2" color="#191919">
		<link rel="shortcut icon" href="/favicon/favicon.ico?v=2">
		<meta name="msapplication-TileColor" content="#191919">
		<meta name="theme-color" content="#191919">
		<title>Juan Pablo Huertas</title>
		<meta name="description" content="Full stack developer">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preload" href="fonts/Mona_Sans/Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMC3LGT7"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<main>
			<picture>
				<source srcset="/img/LogoJPH.webp" type="image/webp">
				<source srcset="/img/LogoJPH.png" type="image/png">
				<img id="logo" src="/img/LogoJPH.png" width="180" height="180" alt="Logo de la pagina">
			</picture>
			<div class="content">
				<h1 id="name">Juan Pablo Huertas</h1>
				<h2>Full stack developer</h2>
				<div class="social_links">
					<a href="https://www.linkedin.com/in/juanpablohuertas/" aria-label="Link a mi perfil de Linkedin">
						<svg class="remix">
							<use xlink:href="/svg/remixicon-onpage.symbol.svg#ri-linkedin-box-fill"></use>
						</svg>
					</a>
					<a href="https://github.com/JuanPabloHuertas" aria-label="Link a mi perfil de Github">
						<svg class="remix">
							<use xlink:href="/svg/remixicon-onpage.symbol.svg#ri-github-fill"></use>
						</svg>
					</a>
				</div>
			</div>
		</main>
	</body>
</html>
